<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>Create New Message</h1>
    <form id="msgForm" action="/create-new-message" method="POST">
        <label for="tittle">Tittle</label>
        <input name="tittle" placeholder="tittle" type="text" required />

        <button>Post It!</button>
    </form>
    <br>
    <textarea rows="4" cols="50" name="messageText" form="msgForm" required placeholder="Type your message here"></textarea>
</body>

</html>