<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>Create New Message</h1>
    <form action="/create-new-message" method="POST">
        <label for="tittle">Tittle</label>
        <input name="tittle" placeholder="tittle" type="text" />
        <label for="">Your Message</label>
        <input name="messageText" type="messageText" />
        <button>Post It!</button>
    </form>
</body>

</html>