<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

</head>

<body>
    <h1>Sign Up</h1>
    <div class="display: block; ">
        <form style="display: table-row;" action="" method="POST">
            <div class="">
                <label for="username">Username</label>
                <input name="username" placeholder="username" type="text" required minlength="5" />
            </div>
            <div>

                <label for="password">Password</label>
                <input name="password" type="password" required />
            </div>
            <div>

                <label for="passwordConfirmation">Confirm Password</label>
                <input name="passwordConfirmation" type="password" required minlength="5" maxlength="16" />
            </div>
            <div><label for="email">e-mail</label>
                <input name="email" type="email" required />
            </div>
            <button>Sign Up</button>
        </form>
    </div>

    <% if (typeof errors !== "undefined") { %>
        <p>Form could not be submitted due to the following error:</p>
        <ul>
            <% for (var i = 0; i < errors.length ; i++) { %>
                <li>
                    <%= errors[i].msg %>
                </li>
                <% } %>
        </ul>
        <% } %>
</body>


</html>